<section
  class="container text-center mt-32 mx-auto px-20 rounded-2xl md:text-start bg-btn-secondary-hover bg-opacity-25 text-white"
>
  <article class="container mx-auto grid md:grid-cols-2 text-white relative">
    <div class="mx-auto line-footer">
      <h1 class="text-[30px] mt-5 mb-5">logo</h1>
      <p class="md:w-[75%] text-muted md:mb-5">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam officiis
        ducimus, perferendis qui alias quaerat!
      </p>
      <h2 class="mt-5 text-[30px]">Follow Us</h2>
      <div class="flex gap-x-5 md:justify-start justify-center md:my-3 my-5">
        <a href=""> <i class="fa-brands fa-facebook size-5"></i> </a>
        <a href=""> <i class="fa-brands fa-linkedin size-5"></i> </a>
        <a href="">
          <i class="fa-brands fa-whatsapp size-6"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram size-6"></i>
        </a>
      </div>
    </div>
    <div class="mx-auto">
      <h3 class="text-[30px] mt-5 mb-8">Links</h3>
      <div class="flex flex-col gap-2 text-muted">
        <p>Home</p>
        <p>About Us</p>
        <p>Our Services</p>
        <p>Our Projects</p>
        <p>Contant Us</p>
      </div>
    </div>
  </article>
  <footer class="text-center relative z-20 mt-5">
    <div class="text-white rounded-xl p-3">
      © All rights reserved NAME | Made by DOMAIN
    </div>
  </footer>
</section>
