<section
  class="bg-btn-secondary-hover bg-opacity-25 relative container mx-auto p-10 rounded-2xl mt-32"
>
  <section class="text-white grid md:grid-cols-2">
    <div class="order-2 mt-20 md:order-1">
      <h2 class="text-[42px] text-start my-5">Team Name</h2>
      <p class="mt-5 text-start text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolorum
        dicta quos quae magni modi rerum perspiciatis harum distinctio expedita
        dolorem numquam, dolor optio. Quam nisi commodi consequuntur corporis!
        Esse est obcaecati nisi facere distinctio autem placeat saepe delectus!
        Dicta sint cupiditate veritatis expedita quaerat rerum odit adipisci
        enim veniam?
      </p>
    </div>
    <div class="flex line mt-10 justify-center items-center md:order-2 order-1">
      <img class="w-[100%]" src="/about.png" alt="" />
    </div>
  </section>
  <button
    class="px-28 py-3 mt-16 bg-btn-primary hover:bg-btn-primary-hover text-white rounded-xl"
  >
    contact us
  </button>
</section>

<section>
  <div
    class="container w-[90%] mt-16 mx-auto bg-btn-secondary-hover bg-opacity-25 text-center p-10 rounded-2xl"
  >
    <h1
      class="text-yellow text-back font-bold text-[30px] md:text-[40px] uppercase"
    >
      team members
    </h1>
  </div>
</section>
<section
  class="text-white w-[90%] grid md:grid-cols-3 relative container mx-auto mt-20 gap-10"
>
  <div class="bg-btn-secondary-hover text-center bg-opacity-25 p-5 rounded-3xl">
    <div class="md:flex items-center">
      <img
        class="md:w-[25%] w-[50%] mx-auto"
        src="/about-avatar.png"
        alt="CODING"
      />
      <div>
        <h1 class="text-[25px] font-bold">Ahmed Khaled</h1>
        <p class="text-[12px] md:text-start">Front-End Develober</p>
      </div>
    </div>
    <p class="md:text-start text-[12px] mt-5">
      Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
      adipisicing elit. Nemo laboriosam consequuntur tenetur corporis
      accusantium maiores?
    </p>
    <div class="flex flex-col gap-y-5 mt-5 md:items-start">
      <div class="flex gap-x-5 md:justify-start justify-center items-baseline">
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/favicon.ico"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/js.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-typescript.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-nodejs.png"
          alt=""
        />
      </div>
      <div class="flex gap-x-5 md:justify-start justify-center">
        <a href="">
          <i
            class="fa-brands fa-facebook bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-linkedin bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-whatsapp bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-green-500 hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-instagram bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-red-600 hover:scale-110 hover:bg-white"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-btn-secondary-hover text-center bg-opacity-25 p-5 rounded-3xl">
    <div class="md:flex items-center">
      <img
        class="md:w-[25%] w-[50%] mx-auto"
        src="/about-avatar.png"
        alt="CODING"
      />
      <div>
        <h1 class="text-[25px] font-bold">Ahmed Khaled</h1>
        <p class="text-[12px] md:text-start">Front-End Develober</p>
      </div>
    </div>
    <p class="md:text-start text-[12px] mt-5">
      Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
      adipisicing elit. Nemo laboriosam consequuntur tenetur corporis
      accusantium maiores?
    </p>
    <div class="flex flex-col gap-y-5 mt-5 md:items-start">
      <div class="flex gap-x-5 md:justify-start justify-center items-baseline">
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/favicon.ico"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/js.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-typescript.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-nodejs.png"
          alt=""
        />
      </div>
      <div class="flex gap-x-5 md:justify-start justify-center">
        <a href="">
          <i
            class="fa-brands fa-facebook bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-linkedin bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-whatsapp bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-green-500 hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-instagram bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-red-600 hover:scale-110 hover:bg-white"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-btn-secondary-hover text-center bg-opacity-25 p-5 rounded-3xl">
    <div class="md:flex items-center">
      <img
        class="md:w-[25%] w-[50%] mx-auto"
        src="/about-avatar.png"
        alt="CODING"
      />
      <div>
        <h1 class="text-[25px] font-bold">Ahmed Khaled</h1>
        <p class="text-[12px] md:text-start">Front-End Develober</p>
      </div>
    </div>
    <p class="md:text-start text-[12px] mt-5">
      Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
      adipisicing elit. Nemo laboriosam consequuntur tenetur corporis
      accusantium maiores?
    </p>
    <div class="flex flex-col gap-y-5 mt-5 md:items-start">
      <div class="flex gap-x-5 md:justify-start justify-center items-baseline">
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/favicon.ico"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/js.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-typescript.png"
          alt=""
        />
        <img
          class="w-[40px] block bg-muted p-[5px] rounded-full bg-opacity-15"
          src="/tech-nodejs.png"
          alt=""
        />
      </div>
      <div class="flex gap-x-5 md:justify-start justify-center">
        <a href="">
          <i
            class="fa-brands fa-facebook bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-linkedin bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-blue hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-whatsapp bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-green-500 hover:scale-110 hover:bg-white"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-instagram bg-muted bg-opacity-15 p-[4px] rounded-md md:size-4 size-6 duration-700 hover:text-red-600 hover:scale-110 hover:bg-white"
          ></i>
        </a>
      </div>
    </div>
  </div>
</section>
