.text-back::after {
  content: "ABOUT US";
  width: 80%;
  position: absolute;
  color: rgba(128, 128, 128, 0.124);
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}
.text-back2::after {
  content: "OUR SERVICE";
  width: 80%;
  position: absolute;
  color: rgba(128, 128, 128, 0.124);
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}
.text-back3::after {
  content: "OUR PROJECT";
  width: 80%;
  position: absolute;
  color: rgba(128, 128, 128, 0.124);
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}
