<section class="overflow-hidden text-center bg-img mt-5 relative">
  <div
    class="container mx-auto w-[80%] md:place-items-center grid md:grid-cols-2 mt-[100px]"
  >
    <div class="order-2 md:order-1">
      <h1 class="text-[72px] text-[white] mb-9 text-start">welcome</h1>
      <h2 class="text-[30px] text-[white] m-0 text-start">
        lets start in the way to make a professional
      </h2>
      <p class="text-red-600 text-[30px] text-start">design!</p>
    </div>
    <div class="flex justify-center items-center md:order-2 order-1">
      <img class="md:w-[70%]" src="./hero.png" alt="hero" />
    </div>
  </div>
  <button
    class="text-[20px] bg-gradient-to-r to-background from-backgroundgRA px-[30px] py-3 rounded-full mt-10 text-white border-white border-[1px]"
  >
    start now with us
    <i class="fa-regular fa-circle-right arrow"></i>
  </button>
  <a href="">
    <div class="flex flex-col text-[50px]">
      <i class="fa-solid fa-angles-down backgrond mt-1"></i>
      <i class="fa-solid fa-angles-down backgrond"></i>
    </div>
  </a>
  <section
    class="h-20 my-10 flex bg-btn-secondary bg-opacity-25 justify-center items-center"
  >
    <div class="logo">
      <div class="ustify-center items-center flex gap-x-[50px]">
        <img class="w-[40px] block" src="/tech-nodejs.png" alt="" />
        <img class="w-[60px] block" src="/tech-clerk.png" alt="" />
        <img class="w-[40px] block" src="/tech-express.png" alt="" />
        <img class="w-[100px] block" src="/tech-mongodb.png" alt="" />
        <img class="w-[100px] block" src="/tech-nextjs.png" alt="" />
        <img class="w-[40px] block" src="/tech-typescript.png" alt="" />
        <img class="w-[40px] block" src="/tech-potgresql.png" alt="" />
        <img class="w-[40px] block" src="/favicon.ico" alt="" />
        <img class="w-[40px] block" src="/js.png" alt="" />
        <img class="w-[40px] block" src="/tech-tailwindcss.png" alt="" />
        <img class="w-[40px] block" src="/tech-reactjs.png" alt="" />
        <img class="w-[40px] block" src="/tech-react-router.png" alt="" />
        <img class="w-[40px] block" src="/tech-nodejs.png" alt="" />
        <img class="w-[60px] block" src="/tech-clerk.png" alt="" />
        <img class="w-[40px] block" src="/tech-express.png" alt="" />
        <img class="w-[100px] block" src="/tech-mongodb.png" alt="" />
        <img class="w-[100px] block" src="/tech-nextjs.png" alt="" />
        <img class="w-[40px] block" src="/tech-typescript.png" alt="" />
        <img class="w-[40px] block" src="/tech-potgresql.png" alt="" />
        <img class="w-[40px] block" src="/favicon.ico" alt="" />
        <img class="w-[40px] block" src="/js.png" alt="" />
        <img class="w-[40px] block" src="/tech-tailwindcss.png" alt="" />
        <img class="w-[40px] block" src="/tech-reactjs.png" alt="" />
        <img class="w-[40px] block" src="/tech-react-router.png" alt="" />
      </div>
    </div>
  </section>
</section>
<!-- about -->
<section>
  <div
    class="container mt-5 w-[90%] mx-auto relative bg-btn-secondary-hover bg-opacity-25 text-center p-10 rounded-2xl"
  >
    <h1 class="text-yellow text-back font-bold text-[40px]">ABOUT US</h1>
  </div>
  <section
    class="text-white w-[90%] text-start gap-y-5 bg-btn-secondary-hover bg-opacity-25 relative container mx-auto md:p-20 p-10 rounded-2xl mt-20"
  >
    <section class="grid md:grid-cols-2">
      <div class="line flex flex-col md:order-1 order-2">
        <h2 class="text-[42px] text-start">Team Name</h2>
        <p class="mt-5 text-start text-gray-400">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
          dolorum dicta quos quae magni modi rerum perspiciatis harum distinctio
          expedita dolorem numquam, dolor optio. Quam nisi commodi consequuntur
          corporis! Esse est obcaecati nisi facere distinctio autem placeat
          saepe delectus! Dicta sint cupiditate veritatis expedita quaerat rerum
          odit adipisci enim veniam? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Atque debitis eos, pariatur dolore blanditiis
          dolorum? Lorem ipsum dolor
        </p>
      </div>
      <div class="flex flex-col justify-center items-start md:order-2 order-1">
        <img class="w-[100%]" src="/home-about.png" alt="" />
      </div>
    </section>
    <div class="flex gap-x-16 justify-center">
      <button
        class="px-10 py-3 bg-btn-secondary hover:bg-btn-secondary-hover text-white rounded-xl"
      >
        More Details About The Team
      </button>
      <button
        class="px-28 py-3 bg-btn-primary hover:bg-btn-primary-hover text-white rounded-xl"
      >
        contact us
      </button>
    </div>
  </section>
</section>
<!-- services -->
<section>
  <div
    class="container w-[90%] mt-20 mx-auto bg-btn-secondary-hover bg-opacity-25 text-center p-10 rounded-2xl"
  >
    <h1 class="text-yellow font-bold text-[40px] text-back2">OUR SERVICE</h1>
  </div>
  <section
    class="text-white grid md:grid-cols-2 relative container mx-auto mt-20 gap-10 md:p-10"
  >
    <div
      class="flex flex-col w-[90%] mx-auto justify-center items-center bg-btn-secondary-hover bg-opacity-25 rounded-3xl duration-700 hover:scale-110px-10 cursor-pointer hover:shadow-lg hover:scale-110 px-10"
    >
      <img class="w-[70%]" src="/service-coding.png" alt="CODING" />
      <h2 class="text-[42px]">CODING</h2>
      <p class="text-center">
        Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
        adipisicing elit. Unde, ducimus laudantium! Ab temporibus minima culpa
      </p>
    </div>
    <div
      class="flex flex-col w-[90%] mx-auto justify-center items-center bg-btn-secondary-hover bg-opacity-25 duration-700 rounded-3xl px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <img class="w-[100%]" src="/service-designing.png" alt="DESIGNING" />
      <h2 class="text-[25px]">DESIGNING</h2>
      <p class="text-center">
        Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
        adipisicing elit. Unde, ducimus laudantium! Ab temporibus minima culpa
      </p>
    </div>
    <div
      class="flex flex-col w-[90%] mx-auto justify-center items-center bg-btn-secondary-hover bg-opacity-25 duration-700 rounded-3xl px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <img
        class="w-[70%]"
        src="/service-software-engineering.png"
        alt="CODING"
      />
      <h2 class="text-[42px]">SOFTWARE</h2>
      <p class="text-center">
        Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
        adipisicing elit. Unde, ducimus laudantium! Ab temporibus minima culpa
      </p>
    </div>
    <div
      class="flex flex-col w-[90%] mx-auto justify-center items-center bg-btn-secondary-hover bg-opacity-25 duration-700 rounded-3xl px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <img class="w-[70%]" src="/service-hosting.png" alt="CODING" />
      <h2 class="text-[42px] uppercase">hosting</h2>
      <p class="text-center">
        Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur
        adipisicing elit. Unde, ducimus laudantium! Ab temporibus minima culpa
      </p>
    </div>
  </section>
  <button
    class="px-16 py-3 mt-5 bg-btn-secondary hover:bg-btn-secondary-hover text-white rounded-xl"
  >
    Show more
  </button>
</section>
<!-- project -->
<section>
  <div
    class="container mt-20 w-[90%] mx-auto bg-btn-secondary-hover bg-opacity-25 text-center p-10 rounded-2xl"
  >
    <h1 class="text-yellow font-bold text-[40px] text-back3 uppercase">
      OUR project
    </h1>
  </div>
  <section
    class="text-white w-[90%] text-start grid md:grid-cols-2 relative container mx-auto mt-20 gap-10 md:p-20"
  >
    <div
      class="p-3 bg-btn-secondary bg-opacity-25 grid grid-cols-1 rounded-xl duration-700 hover:scale-110px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <div class="bg-background bg-opacity-50 rounded-3xl p-5 pb-0">
        <img class="w-[100%]" src="/project-img.png" alt="CODING" />
      </div>
      <h1 class="text-[22px] my-3 font-bold">
        Solar Panelts System Planets Web
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        tenetur veritatis error esse, quibusdam nobis temporibus officiis? Non,
        architecto ab?
      </p>
      <div class="flex justify-between px-5 my-3">
        <a class="text-blue" href="">More details </a>
        <a class="text-yellow" href="">Live perview </a>
      </div>
    </div>
    <div
      class="p-3 bg-btn-secondary bg-opacity-25 grid grid-cols-1 rounded-xl duration-700 hover:scale-110px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <div class="bg-background bg-opacity-50 rounded-3xl p-5 pb-0">
        <img class="w-[100%]" src="/project-img.png" alt="CODING" />
      </div>
      <h1 class="text-[22px] my-3 font-bold">
        Solar Panelts System Planets Web
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        tenetur veritatis error esse, quibusdam nobis temporibus officiis? Non,
        architecto ab?
      </p>
      <div class="flex justify-between px-5 my-3">
        <a class="text-blue" href="">More details </a>
        <a class="text-yellow" href="">Live perview </a>
      </div>
    </div>
    <div
      class="p-3 bg-btn-secondary bg-opacity-25 grid grid-cols-1 rounded-xl duration-700 hover:scale-110px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <div class="bg-background bg-opacity-50 rounded-3xl p-5 pb-0">
        <img class="w-[100%]" src="/project-img.png" alt="CODING" />
      </div>
      <h1 class="text-[22px] my-3 font-bold">
        Solar Panelts System Planets Web
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        tenetur veritatis error esse, quibusdam nobis temporibus officiis? Non,
        architecto ab?
      </p>
      <div class="flex justify-between px-5 my-3">
        <a class="text-blue" href="">More details </a>
        <a class="text-yellow" href="">Live perview </a>
      </div>
    </div>
    <div
      class="p-3 bg-btn-secondary bg-opacity-25 grid grid-cols-1 rounded-xl duration-700 hover:scale-110px-10 cursor-pointer hover:shadow-lg hover:scale-110"
    >
      <div class="bg-background bg-opacity-50 rounded-3xl p-5 pb-0">
        <img class="w-[100%]" src="/project-img.png" alt="CODING" />
      </div>
      <h1 class="text-[22px] my-3 font-bold">
        Solar Panelts System Planets Web
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        tenetur veritatis error esse, quibusdam nobis temporibus officiis? Non,
        architecto ab?
      </p>
      <div class="flex justify-between px-5 my-3">
        <a class="text-blue" href="">More details </a>
        <a class="text-yellow" href="">Live perview </a>
      </div>
    </div>
  </section>
  <button
    class="px-20 py-3 mt-5 bg-btn-secondary hover:bg-btn-secondary-hover text-white rounded-xl"
  >
    Show more
  </button>
</section>
<!-- customer  -->
<section></section>
